@import url(../../globalFiles/baseStyleSheet.css);

.gameContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: 75%;
    max-width: 650px;
    z-index: 1;
}

.box {
    background-color: #96B1C5;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
    border-radius: 4px;
    aspect-ratio: 1 / 1;
}