@import url(../../globalFiles/baseStyleSheet.css);

.gameContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 60%;
  max-width: 550px;
  z-index: 1;
}

.cell{
  background-color: #96B1C5;
  transition: transform 0.25s ease, background-color 0.25s ease, border-radius 0.25s ease;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}

.cell img {
  width: 75%;
  filter: contrast(100);
  offset-rotate: 90;
}

#infoLine{
  color: #3c344f;
}