* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI';
  background-color: #CFD8D7;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  color: #2F283E;
}

header {
  margin-bottom: 60px;
  text-align: center;
  width: 100%;
}

header nav {
  display: flex;
  align-items: center;
  background-color: #96B1C5;
  margin-bottom: 20px; 
  width: 100%;
}

header nav a {
  text-decoration: none;
  padding: 15px;
  font-size: 23px;
  font-weight: 650;
  color: inherit;
}

header nav a img {
  width: 25px;
  transform: translateY(3px);
}

header h1 {
  font-size: 50px;
  font-weight: 800;
  margin: 0;
  letter-spacing: -2px;
}

header p {
  font-size: 20px;
  opacity: 55%;
  margin-top: 5px;
}

#result {
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 10;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6.6px);
  border: 2px solid rgba(255, 255, 255, 0.4);

  text-align: center;
  font-weight: 800;
  font-size: 40px;
  padding: 35px;
}

footer {
  margin: 50px 40px 0px 40px;
  font-size: 14px;
  opacity: 55%;
  text-align: center;
}

@media (max-width: 700px) {
  header nav a {
    font-size: 18px;
  }
  header h1{
    font-size: 40px;
    font-weight: 750;
  }
  header p{
    font-size: 16px;
  }
  footer {
    font-size: 10px;
  }
}